.works {
    /* border: 3px solid rgb(15, 197, 221); */
    height: calc(100vh - 70px);
    width: 100vw;
    scroll-snap-align: start;
    background-color: rgb(249 245 246);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider-works {
    /* border: 3px solid rgb(233, 91, 9); */
    /* background-color: rgb(65, 207, 37); */
    /* width: 100vw; */
    height: 380px;
    display: flex;
    /* justify-content:center;
    align-items: center; */
    /* overflow-y: hidden; */
    position: absolute;
    margin-left: -410px;
    left: 100vh;
    transition: all 1s ease-out;
}

/* .animation-works {
    left: -60vh;   
    
}
.animation1-works{
    left: -220vh;   
} */

.containerlist-works {
    margin-right: 410px;
    width: 100vh;
    /* height: 70%; */
    /* background-color: rgb(71, 52, 182); */
    border: 2px solid rgb(214, 221, 210);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
    /* margin-left: 50%;
    margin-right: 50%; */
    animation: card 1s ease-out infinite;
}
@keyframes card {
    0%{
        border: 1px solid black;
    }
    25%{
       border: 1px solid green; 
    }
    50%{
        border: 1px solid purple; 
        
    }
    75%{
        border: 1px solid rgb(18, 60, 197); 
        
    }
    100%{
        border: 1px solid rgb(209, 21, 131); 

    }
}
.item-works {
    /* position: absolute; */
    /* left: 0; */
    /* right: -50; */
    width: 700px;
    height: 100%;
    background-color: white;
    /* border: 2px solid rgb(168, 33, 33); */
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.left-works {
    /* border: 3px solid yellow; */
    /* background-color: yellow; */
    flex: 0.4;
    /* width: 100%;
    height: 100%; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-between;
    /* overflow-y: hidden; */
}

.container-works {
    margin-left: 19px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-works {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: rgb(163 135 183);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.img-works img {
    width: 25px;
}

.left-works h2 {
    font-size: 20px;
    margin-bottom: 10px;
    animation: h2blink 1.5s ease-out infinite;
}

@keyframes h2blink {
    to {
        color: crimson;
        border-bottom: 1px solid rgb(37, 157, 204);
    }
    from {
        color: rgb(37, 157, 204);
        border-bottom: 1px solid crimson;
    }
}

.left-works p {
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
    margin-left: 5px;
}

.left-works span {
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;
}

.right-works {
    /* border: 3px solid yellow; */
    /* background-color: red; */
    flex: 0.6;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-img {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.right-img img {
    width: 100%;
    height: 100%;
    /* transform: rotate(-10deg); */
}

.workarrow-right {
    user-select: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transform: rotate(-90deg);
    /* background-color: blue; */
    right: 120px;
    position: absolute;
    
}



.workarrow-left {
    user-select: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    /* background-color: yellow; */
    left: 120px;
    transform: rotate(90deg);
}