.app{
    height: 100vh;
}

.sections{
   top: 70px;
    position: relative;
    scroll-snap-type: y mandatory;
    width: 100%;
    height: calc(100vh - 70px) ;
    scroll-behavior: smooth;
    scrollbar-width: none; 
    
    };

    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */
    }
    
    .sections::-webkit-scrollbar{
        display: none;
        -ms-overflow-style: none;
    }

  